{% extends "header.html" %}
{% block content %}


<h1 id="raganet">RagaNet</h1>
<h3 id="current-accuracy">Current Accuracy</h3>
<h4>{{float(acc) * 100 }} % </h4>
<p>This is the user reported accuracy of RagaNet. </p>
<h3 id="what-is-it-">What is it?</h3>
<p>RagaNet is a trained neural network model that predicts the South Indian raga from an audio file. Currently, it only supports the ragas Sudhhadhanyasi and Abheri. Click the 'Test It Yourself' tab to try it out for yourself. </p>


{% endblock %}
