{% extends "header.html" %}
{% block content %}


<h1 id="raganet">RagaNet</h1>
<h4>{{ acc }} % </h4>
<p>The current reported accuracy of RagaNet among all users. </p>
<h3 id="what-is-it-">What is it?</h3>
<p>RagaNet is a trained neural network model that predicts the South Indian raga from an audio file.
     Currently, it only supports the ragas Sudhhadhanyasi and Abheri with low accuracy :(
</p>
<a href="{{ url_for('model.info') }}">
    <p>Click here to learn more. </p>
</a>


{% endblock %}
